@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Urbanist:ital,wght@0,100..900;1,100..900&family=Yellowtail&display=swap');

body,
.topBar,
.topBar > div,
.navBar form,
.navBar > div,
.actionBar,
.actionBar > div,
.actionBar ul,
.sideBar,
.sideBar h1,
.sideBar ul,
.sideBar ul li,
.optionIcons,
.contentContainer,
.projectList,
.projectList > div,
.newsContainer,
.trendingContainer > div {
    display: grid;
}

form,
.topBar > div,
.accountNav,
.actionBar > div,
.sideBar h1,
.sideBar ul li,
.trendingContainer > div {
    align-items: center;
}

body {
    grid-template-columns: 350px 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        'sideBar topBar'
        'sideBar contentContainer';

    height: 100vh;
    min-height: 70vh;
    margin: 0;

    background: linear-gradient(0deg, #020024 0%, #000033 75%, #a3297a 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #ffdab3;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

svg {
    fill: currentColor;
    stroke: currentColor;

    width: 30px;
    height: 30px;
    stroke-width: 0;
}

.topBar {
    grid-area: topBar;
    padding: 0 5%;

    background-color: transparent;

    grid-template-rows: 1fr 1fr;
}

.navBar {
    grid-template-columns: 1fr 1fr;
}

.navBar > div {
    grid-template-columns: repeat(3, max-content);
}

.topBar > div {
    justify-content: space-between;
}

form {
    grid-template-columns: max-content 1fr;
    gap: 20px;
}

form input {
    width: 675px;
    /* if user has a really long name such that .accountNav icons could overlap with searchbar */
    max-width: 100%;

    padding: 5px 15px;
    border: 0;
    border-bottom: 2px solid #eee;

    background-color: transparent;
    color: #eee;
    font-size: 15px;
}

form input:focus {
    outline: 0;
    border: 1px solid #eee;
    box-shadow: 0px 0px 15px #eee;
    transition: all 0.2s linear;
}

.accountNav {
    justify-content: flex-end;
    gap: 40px;
}

.accountNav p {
    font-size: 22px;
    font-weight: 600;
    margin-right: 50px;
}

.actionBar {
    grid-template-columns: 1.7fr 1fr;
}

.actionBar > div {
    grid-template-columns: max-content 1fr;
    gap: 20px;
}

.actionBar > div > div * {
    margin: 10px 0;
}

.actionBar div svg {
    width: 70px;
    height: 70px;
}

.actionBar ul {
    grid-template-columns: repeat(3, 1fr);
    justify-items: stretch;
    text-align: center;

    gap: 30px;
    margin: 0 20px 0 0;
}

.actionBar ul li {
    list-style-type: none;

    width: 100%;

    padding: 10px 0;
    border-radius: 999vh;

    font-weight: 800;
    background-color: #ff0066;
}

.sideBar {
    grid-area: sideBar;
    background-color: #00001a;

    grid-template-rows: 120px 400px 300px;
    align-items: start;
}

.sideBar h1 {
    font-family: 'Yellowtail', Arial, Helvetica, sans-serif;
    font-size: 50px;
    font-weight: 600;
    color: #ffe680;
    text-shadow: 5px 5px #4d3d00;

    grid-template-columns: max-content 1fr;

    margin-left: 40px;
    gap: 10px;
}

.sideBar h1 svg {
    width: 60px;
    height: 60px;
    rotate: 90deg;

    margin-bottom: -30px;
}

.sideBar ul {
    grid-template-rows: repeat(auto-fit, 1fr);
    gap: 20px;

    list-style-type: none;
    font-size: 30px;
    font-family: 'Urbanist', Arial, Helvetica, sans-serif;
}

.sideBar ul li {
    grid-template-columns: max-content 1fr;
    gap: 10px;
}

.contentContainer {
    grid-area: contentContainer;

    grid-template-columns: 1fr 300px;
    gap: 30px;

    padding: 40px 35px 0 25px;
}

.contentContainer h2 {
    margin: 0 0 15px 0;
}

.projectList > div,
.announceContainer,
.trendingContainer {
    background-color: #1d0040;
}

.projectList {
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-auto-rows: 250px;
    gap: 30px;
}

.projectList > div {
    padding: 30px;
    border-radius: 10px;

    grid-template-rows: 1fr 3fr 1fr;
}

.projectList > div:hover {
    box-shadow: 10px 10px 1px #ff4d4d;
    transition: all 0.1s linear;
}

.projectList div h2 {
    margin: 3px 0;
}

.projectList div p {
    margin: 0;
    overflow: auto;
}

.optionIcons {
    grid-template-columns: repeat(3, 30px);
    justify-content: end;
    align-items: end;

    gap: 20px;

    margin-top: 20px;
}

.newsContainer {
    grid-template-rows: 1fr 1fr;
    gap: 0px;
}

.announceContainer {
    padding: 10px 20px;
    border-radius: 10px;

    max-height: 80%;

    overflow: auto;
}

.announceContainer div + div {
    border-top: 1px solid #aaa
}

.announceContainer > div {
    padding: 15px 5px;
}

.announceContainer > div h3,
.announceContainer > div p {
    margin: 0;
}

.announceContainer > div h3 {
    font-size: 16px;
}

.announceContainer > div p {
    font-size: 14px;
}

.trendingContainer {
    border-radius: 10px;

    max-height: 80%;

    overflow: auto;
}

.trendingContainer > div {
    grid-template-columns: 50px 1fr;

    gap: 20px;

    padding: 15px;
}

.trendProfileIcon svg {
    width: 50px;
    height: 50px;
}

.trendProfileInfo p {
    margin: 5px 0;
}