body {
    display: grid;
    grid-template-columns: 350px 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        'sideBar topBar'
        'sideBar contentContainer';
}

body > * {
    border: 2px solid black;
}

.topBar {
    grid-area: topBar;
    padding: 0 5%;
}

.navBar,
.actionBar {
    border: 2px solid blue;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navBar form {
    flex: 1 1 auto;

    display: flex;
    gap: 20px;
}

.navBar form #searchBar {
    width: 500px;
    /* if user has a really long name such that .accountNav icons could overlap with searchbar */
    max-width: 100%;
}

.accountNav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}

.accountNav p {
    padding: 0 10px;
}

.actionBar .intro {
    display: flex;
    align-items: center;
    gap: 20px;
}

.actionBar .actionButtons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: stretch;
    text-align: center;

    gap: 20px;
    margin: 0 20px 0 0;
}

.actionBar .actionButtons li {
    list-style-type: none;

    padding: 10px 40px;
    border: 2px solid blue;
    border-radius: 999vh;
}

.sideBar {
    grid-area: sideBar;

    display: flex;
    flex-flow: column nowrap;
}

.sideBar ul {
    display: flex;
    flex-flow: column nowrap;
    gap: 20px;

    list-style-type: none;
    font-size: 30px;
}

.contentContainer {
    grid-area: contentContainer;
}

